body {
    display: flex;
    justify-content: center;
    background-color: lightgray;
    font-family:Arial, Helvetica, sans-serif;
}

body > * {
    background-color: white;
}

.container {
    width: 90vh;
    display: flex;
}

.left {
    flex: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./image/halie-west-25xggax4bSA-unsplash.jpg);
}

.right {
    flex: 2 1 0;
    margin: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.name, .contact, .pass_info {
    gap: 10%;
    display: flex;
    justify-content: start;
}

.name, .contact {
    margin-bottom: 10px;
}

.acc_exists {
    font-size: 8px;
}

.no_match {
    display: block;
    font-size: 8px;
    margin-bottom: 10px;
}

label {
    display: block;
    font-size: 8px;
    text-align: left;
}

input {
    border: 1px solid #E5E7EB;
}

p, button {
    font-size: 12px;
}

button {
    color: white;
    background-color: #596D48;
}

a {
    text-decoration: none;
}